.musicBtn {
      .music{
      width: 3rem;
      height: 3rem;
      border:  .1rem #aaa solid;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .music3{
      width: 3rem;
      height: 3rem;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .music2{
      width: 3rem;
      height: 3rem;
      border-radius: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .right-arrow {
      width: 0px;
      height: 0px;
      border-top: 1rem solid transparent;
      border-left: 1.2rem solid #aaa;
      border-bottom: 1rem solid transparent;
      margin-left: .2rem;
    }
    .left-arrow {
      width: 0px;
      height: 0px;
      border-top: 1rem solid transparent;
      border-right: 1.2rem solid #aaa;
      border-bottom: 1rem solid transparent;
      margin-right: .2rem;
    }
    .vertical-line{
      width: .3rem;
      height: 1.8rem;
      background-color: #aaa;
      margin: 2px;
    }
    .line{
      width: 1.7rem;
      height: .3rem;
      background-color: #aaa;
      margin: .2rem;
      display: flex;
    }

    .line:before{
      content:'.';
      font-size: 2rem;
      color:#aaa;
      margin-top: -1.9rem;
      margin-left: -.6rem
    }

     .stop-line{
      width: .3rem;
      height: 1.5rem;
      background-color: #aaa;
      margin: .2rem;
    }

    .play-arrow {
      width: 0px;
      height: 0px;
      border-top: .9rem solid transparent;
      border-left: 1rem solid #aaa;
      border-bottom: .9rem solid transparent;
      margin-left: .2rem;
    }
}