/* reset */
html,body{margin:0;padding:0;}
a{
    text-decoration: none;
}

html{
    height:100%;
    background-color: #515363;
}
body {
    height:100%;
    width: 100%;
    max-width: 640px;/* 对于pc最大宽度*/
    margin: 0 auto;
    box-shadow: 0 0 160px 0 #5c99e7;
    // font-family: cursive;
 }
.root {
    display: flex;
    flex-direction: column;
    background-color:#fff;
    height: 100%;
    width:100%;
}
.header {
    background-color:#fff;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    // background-color:#eee;
    flex:1;
    overflow-y: auto;
    overflow-x: hidden;
    width:100%;
    -webkit-overflow-scrolling:touch;
}
.footer {
    display: flex;
    background-color:#fff;
    height: 3.5rem;
}
.footerItem {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer a {
    color:#666
}    

.footer .active{
    color:#fff
}    

html,body {
    font-size:18px;
}

@media screen and (max-width:800px){
 html,body {
    font-size:16px;
 }
}
@media screen and (max-width: 680px){
 html,body {
    font-size:14px;
 }
}

@media screen and (max-width: 375px){
 html,body {
    font-size:12px;
 }
}


.slick-slide img {
    display: block;
    width:100%;
    max-width: 100%;
    height: auto;
}



.arrow-right {
	border-top:1px solid #333;
    border-left:1px solid #333;
    width: .6rem;
    height: .6rem;
    display: block;
    margin: 6px;
    transform: rotate(135deg); 
}
.arrow-left {
	border-top:2px solid #fff;
    border-left:2px solid #fff;
    width: 15px;
    height: 15px;
    display: block;
    margin: 15px 10px;
    transform: rotate(-45deg); 
}



.rc-slider-track {
  background-color: rgb(206, 61, 62) !important;
}
.rc-slider-handle{
  border: solid 3px #d2a5a5  !important;
  background-color: rgb(206, 61, 62) !important;
}