.homeTab {
	background-color: #eee;

	.homeTab1 {
		display:flex;
		justify-content:space-around;
		align-items:center;
		height: 3rem;

		div {
			display:flex;
		}
	}

	.highlight {
		width: 25%;
		height: .15rem;
		background-color: #ce3d3e;
		transition: transform .3s,-webkit-transform .3s;
	}
}


.recommod {
	display: flex;
	border-left: .15rem solid  #ce3d3e;
	padding:0rem .3rem;
	margin: .5rem 0;
}
